.app-container {
  max-width: 600px; /* Set maximum width for the app container */
  margin: 0 auto; /* Center the app container horizontally */
  padding: 20px; /* Add padding around the app container */
}

.app-heading {
  text-align: center; /* Center the heading */
  margin-bottom: 20px; /* Add margin at the bottom of the heading */
}

.app-content {
  margin-top: 20px; /* Add margin at the top of the content */
}

.app-container {
  margin: 20px;
}

.sort-container {
  margin-bottom: 10px;
}

.sort-label {
  font-size: 16px;
  margin-right: 10px;
}

.sort-select {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.sort-select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
